$text-spacing: 33%;
$module: 4px;

.switcher {
    position: relative;
    margin: (5 * $module) (6 * $module);
    padding: 0 0;
    border: 0;
    line-height: 5 * $module;
}

.inner {
    border: red;
}

.text__label {
    text-align: left;
    font-size: (3.5 * $module);
    line-height: (4 * $module);
    color: #4a4a4a;
    margin-left: 0;
    width: $text-spacing;
    float: left;
    max-width: (75 * $module);
    max-width: (60 * $module);
}

.switcher__holder {
    & > label {
        position: relative;
        display: inline-block;
        user-select: none;
    }
}

.switcher__body {
    background-color: #b8b8b8;
    vertical-align: top;
    position: relative;
    border-radius: (.5 * $module);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.25);
    transition: all .3s ease-in;
    display: inline-block;
    cursor: pointer;
    &.standard {
        width: (10 * $module);
        height: (5 * $module);
    }
    &.small {
        width: (8 * $module);
        height: (3.5 * $module);
    }
    &.large {
        width: (15 * $module);
        height: (6 * $module);
    }
    &:after {
        display: block;
        content: '';
        background-color: #fff;
        margin: (.5 * $module) 0 0 (.5 * $module);
        width: 35%;
        height: calc(100% - 4px);
        border-radius: 1px;
        box-shadow: 0 1px 2px rgba(0,0,0,.25);
        transition: margin .1s ease-in;
    }
    &.is__active {
        &.default{
            background-color: rgba(0, 170, 255, 1);
        }
        &.auto {
            background-color: rgba(255, 97, 99, 1);
        }
        &.services {
            background-color: rgba(161, 105, 247, 1);
        }
        &.real-estate {
            background-color: rgba(0, 170, 255, 1);
        }
        &.jobs {
            background-color: rgba(151, 207, 38, 1);
        }
        &:after {
            margin: (.5 * $module) 0 0 1.5rem;
        }
    }
    &.is__disabled {
        opacity: .5;
    }
}


.shadow__switcher {
    position: absolute;
    left: -9999px;
}

